<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CSSPAppDBEntities" connectionString="metadata=res://*/CSSPAppEDM.csdl|res://*/CSSPAppEDM.ssdl|res://*/CSSPAppEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WMON01DTCHLEBL2\SQLEXPRESS;initial catalog=CSSPAppDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="CSSPAppDBEntities" connectionString="metadata=res://*/CsspAppEDM.csdl|res://*/CsspAppEDM.ssdl|res://*/CsspAppEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHARLES-PC;initial catalog=CSSPAppDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>